<li class="comment" id="comment_{{id}}">
  <div class="panel panel-default">
    <div class="panel-body"> 
      {{body}}
      <a class="edit-comment-link btn btn-xs btn-default" data-comment-id="{{id}}" href="">edit</a> 
      <a data-confirm="Are you sure?" class="btn btn-xs btn-danger" data-remote="true" rel="nofollow" data-method="delete" href="/comments/{{id}}">[x]</a>
      <form id="edit-comment-{{id}}" style="display: none;" class="edit_comment" action="/comments/{{id}}" accept-charset="UTF-8" data-remote="true" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="patch">
        <label for="comment_body">Comment: </label>
        <textarea name="comment[body]" id="comment_body">{{body}}</textarea>
        <input type="submit" name="commit" value="Save" data-disable-with="Save">
      </form>
    </div>
  </div>
</li>



